@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    font-family: var(--font-space-grotesk), system-ui, sans-serif;
    font-feature-settings: "ss04" 1;
}


@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* Grey */
    --color-grey-50: #F3F4F6;
    --color-grey-100: #E5E7EB;
    --color-grey-300: #B1B9C1;
    --color-grey-500: #6C737F;
    --color-grey-600: #4D5761;
    --color-grey-700: #384250;
    --color-grey-800: #1F2A37;

    /* Brand (Primary) */
    --color-brand-50: #EEEDFD;
    --color-brand-400: #776CEF;
    --color-brand-500: #5547EB;

    /* Green */
    --color-green-50: #E9F9EF;
    --color-green-100: #BAEDCD;
    --color-green-300: #6BD893;
    --color-green-500: #1FB356;
    --color-green-600: #00B67A;

    --font-sans: var(--font-space-grotesk), system-ui, sans-serif;

    /* h1: 48/56, weight 400, letter-spacing -1px */
    --text-h1: 3rem;
    --text-h1--line-height: 3.5rem;
    --text-h1--letter-spacing: -0.0625rem;

    /* h2: 40/48, weight 400, letter-spacing -0.5px */
    --text-h2: 2.5rem;
    --text-h2--line-height: 3rem;
    --text-h2--letter-spacing: -0.03125rem;

    /* h3: 32/40, weight 400 */
    --text-h3: 2rem;
    --text-h3--line-height: 2.5rem;
    --text-h3--letter-spacing: 0;

    /* h4: 24/32, weight 600 */
    --text-h4: 1.5rem;
    --text-h4--line-height: 2rem;
    --text-h4--letter-spacing: 0;

    /* h5: 20/28, weight 600 */
    --text-h5: 1.25rem;
    --text-h5--line-height: 1.75rem;
    --text-h5--letter-spacing: 0;

    /* h6: 18/24, weight 600 */
    --text-h6: 1.125rem;
    --text-h6--line-height: 1.5rem;
    --text-h6--letter-spacing: 0;

    /* subtitle1: 18/24, weight 600, letter-spacing 0.2px */
    --text-subtitle1: 1.125rem;
    --text-subtitle1--line-height: 1.5rem;
    --text-subtitle1--letter-spacing: 0.0125rem;

    /* subtitle2: 14/20, weight 600, letter-spacing 0.2px */
    --text-subtitle2: 0.875rem;
    --text-subtitle2--line-height: 1.25rem;
    --text-subtitle2--letter-spacing: 0.0125rem;

    /* body1: 16/24, weight 600 */
    --text-body1: 1rem;
    --text-body1--line-height: 1.5rem;
    --text-body1--letter-spacing: 0;

    /* body2: 14/20, weight 400 */
    --text-body2: 0.875rem;
    --text-body2--line-height: 1.25rem;
    --text-body2--letter-spacing: 0;

    /* caption: 12/16, weight 400, letter-spacing 0.2px */
    --text-caption: 0.75rem;
    --text-caption--line-height: 1rem;
    --text-caption--letter-spacing: 0.0125rem;

    /* overline: 12/20, weight 600, letter-spacing 0.7px */
    --text-overline: 0.75rem;
    --text-overline--line-height: 1.25rem;
    --text-overline--letter-spacing: 0.04375rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}